.container {

  display: grid;
  border: 10px solid rgb(145, 206, 203);
  grid-template: 100px auto 100px /  30fr, 70fr;   
  justify-content:center;
  gap: 30px;
}

.box {
    height: 7rem;
    width: 7rem;
    background-color: aquamarine;
}


 
    
    
 
     

