.container {
    border: 4px solid rgb(170, 233, 198);
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: flex-end;
    height: 90vh;
}
    .box {
        width: 6rem;
        height: 6rem;
        background-color: plum;
        margin: 16px;
       
      
    }
    body {
        margin: 10px; 
    }

