.container-fluid {

    background: lightgreen;
    color: #fff;
   
}

.bg1 , .bg2 , .bg3 {
    color: #fff;
    font-size: 20px;
   
}
.bg1 {
    background-color: aqua;
    
}

.bg2 {
    background-color: pink;
}
.bg3 {
    background-color: lightsalmon;
}
 
.bg4 {
    background-color: aqua;
}
.progress-bar {
    width: 40%;
    background-repeat: no-repeat;
    background-position: top right;
}