<div class="callout callout--primary">
    <div class="grid grid--cols-2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready To Get Started?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi neque culpa ab in,
           dolore laboriosam asperiores quas delectus suscipit ex eaque eveniet possimus 
          recusandae ipsam voluptatem, eos, et id nostrum?
        </p>

      </div>
      <a href="#" class="btn btn__stretched">GET STARTED</a>
    </div>
  </div>